
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
    
nav{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    /*background-color:  rgba(41, 89, 150, 0.8);*/
    background-color: rgba(19, 85, 176, 0.8);
   
}

.menu-container{
    position: fixed;
    top: 75px;
    background: rgba(19, 85, 176, 0.8);
    height: 100vh;
    width: 100%;
    /*width: 250px;*/
    display: none; 
    z-index: 1000;
    text-align: left;        
    /*justify-content: center;*/
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.menu-container.active {
    display: flex; 
}

.menu-container2{
    margin-top: 75px;
    margin-left: 100px;
    display: flex;
    gap: 50px;
}

.menu-container .menu-items {
    list-style: none;
    margin: 0;
    padding: 0;
    /*padding-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;*/
}

.menu-container .container-items{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.menu-container .menu-items li {
    margin-bottom: 30px;
}

.menu-container .menu-items li a {
    color: white;
    text-decoration: none;
}

.nav-items{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.items-1{
    font-size: 35px;
    font-weight: 300;
}

.menu-container .items-1 li a{
    transition: 0.3s ease, transform 0.3s ease;
}

.menu-container .items-1 li a:hover {
    font-size: 37px;
}

.items-2, .items-3{
    font-size: 25px;
    font-weight: 300;
}

#nosotros{
    font-weight: 600;
}

.img-container-menu{
    margin-left: 35px;
}

.img-menu{
    width: 350px;
    height: auto;
}

.vertical-line{
    width: 1px; 
    height: 308px;
    background-color: white;
    margin: 0 auto; 
}

/*.McButton-container{
    position: relative;
    margin-right: 120px;
}

.McButton {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -22px;  /*-(@bar-w / 2) donde @bar-w es 44px 
    margin-top: -12.5px; /* -(@bar-h / 2) donde @bar-h es 3px y se multiplica por 3/4 
    width: 33px; /* @bar-w 
    height: 22px; /* (@bar-w * 3) / 4 = (44 * 3) / 4 
    cursor: pointer;
}

.McButton b {
    position: absolute;
    left: 0;
    width: 33px; /* @bar-w 
    height: 2px; /* @bar-h 
    background-color: white; /* @bar-color 
}

.McButton b:nth-child(1) {
    top: 0;
}

.McButton b:nth-child(2) {
    top: 50%;
    transform: translateY(-50%); /* Centra el segundo elemento verticalmente 
}

.McButton b:nth-child(3) {
    top: 100%;
    transform: translateY(-100%); /* Mueve el tercer elemento hacia arriba para alinearlo 
}*/

/*.open-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    padding-right: 100px;
    font-size: 40px;
    color: #fff;
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    filter: brightness(2.5);
}

 .line {
    width: 100%;
    height: 2px;
    list-style-type: none;
    background-color: #fff;
    margin-top: 8px;
    transition: all 500ms ease;
    }

    .open-btn {
    cursor: pointer;
    width: 30px;
    margin-right: 100px;
            
     }

        .open-btn:hover .line {
            transform-origin: 15% 50%;
        }

        .open-btn:hover .line-one {
            transform: translateY(-8px) rotate(45deg);
        }

         .open-btn:hover .line-two {
            opacity: 0;
        }

         .open-btn:hover .line-three {
            transform: translateY(8px)rotate(-45deg);
        }*/

.menu {
    cursor: pointer;
    width: 40px;
    height: 40px;
    position: relative;
    margin-right: 120px;
}

.bar {
    background-color: white;
    height: 2px;
    width: 100%;
    margin: 5px 0;
    transition: all 0.3s ease;
}

.menu.active #bar1 {
    transform: rotate(45deg);
    position: absolute;
    top: 12px;
}

.menu.active #bar2 {
    opacity: 0;
}

.menu.active #bar3 {
    transform: rotate(-45deg);
    position: absolute;
    top: 12px;
}

.asociate{
    text-decoration: none;
    color: white;
    /*border-radius: 25px;*/
}

/*------------*/
*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font: calibri;
    --size-pri: 1px;
    --size-sec: 100px; 
    --main-clr: #0ebac5;
    --white: #fff;
}

.btn-asociate {
    background: none;
    margin-right: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 130px;
    min-height: 46px;
    font-family: calibri;
    font-size: 1.2em;
    border-radius: 100px;
    cursor: pointer;
    font-weight: 400;
    position: relative;
    /*border: 2px solid var(--white);*/
    /*color: var(--white);*/
    border: 2px solid white;
    color: white;
    background-color : transparent;
    overflow: hidden;
}

    .btn-asociate::before, .btn-asociate::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: -100%;
    left: 0;
    background-color: #fff;
    z-index: -1;
    transition: all 300ms ease-in;
    }

    .btn-asociate:hover {
        color: #295996;
    }

    /*.asociate:hover{
        color: #295996;
    }*/
    
    .btn-asociate::before {
        opacity: 0.3;
    }

    .btn-asociate::after {
        transition-delay: 0.2s;
    }

    .btn-asociate:hover::before, .btn-asociate:hover::after {
        top: 0;
    }

.close-btn{
    font-size: 30px;
    color: white;
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 20px;
    left: 200px; 
}

@media (max-width: 480px) {
    nav{
        position: fixed;
        top: 0;
        left: 0;
        right:0 ;
        max-width: 100vw;
        height: 65px;
        overflow-x: hidden;
        flex-wrap: wrap;
    }

}


