
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
    
nav{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: #1355B0;
   
}

.menu-container{
    position: fixed;
    top: 60px;
    padding-top: 20px;
    background: rgba(19, 85, 176, 0.9);
    height: 100vh;
    width: 100%;
    display: none; 
    z-index: 1000;
    text-align: left;        
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    transform: translateX(100%); 
    transition: transform 1s ease; 
    animation-duration: 1.5s;
}

.menu-container.activo {
    display: flex; 
    transform: translateX(0); 
}

.menu-container2{
    margin-top: 75px;
    margin-left: 100px;
    display: flex;
    gap: 35px;
}

.los3{
    padding: 0;
    margin: 0;
}

.menu-container .menu-items {
    list-style: none;
    margin: 0;
    padding: 0;
    /*padding-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;*/
}

.menu-container .container-items{
    display: inline;
   /* flex-direction: column;
    justify-content: flex-start;*/
    text-align: left;
}

.menu-container .menu-items li {
    margin-bottom: 30px;
}

.menu-container .menu-items li a {
    color: white;
    text-decoration: none;
}

.nav-items{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.items-1{
    font-size: 38px;
    font-weight: 100;
}

.bi-arrow-right{
    font-size: 25px;
    color: white;
    color: #d7d7d7;
    padding-right: 10px;
    filter: brightness(1.5);
}

.menu-container .items-1 li a{
    transition: 0.3s ease, transform 0.3s ease;
}

.menu-container .items-1 li a:hover {
    font-size: 37px;
}

.items-2, .items-3{
    font-size: 25px;
    font-weight: 200;
}

.items-3{
    display: none;
    text-align: left;
}


#nosotros{
    font-weight: 700;
}

.img-container-menu{
    position: absolute; 
    top: 100px; 
    right: 155px; 
}

.logo{
    width: 230px;
    height: auto;
}

.img-menu{
    width: 300px;
    height: auto;
}

.vertical-line{
    align-items: flex-start;
    width: 1px; 
    height: 360px;
    background-color: white;
    margin: 0 auto; 
} 

.menu {
    cursor: pointer;
    width: 30px;
    height: 50px;
    position: relative;
    margin-right: 120px;
    margin-top: 25px;
    transition: transform 0.8s ease;
}

.bar {
    background-color: white;
    height: 2px;
    width: 100%;
    margin: 5px 0;
    transition: all 0.3s ease;
}

/*.menu.active #bar1 {
    transform: rotate(45deg);
    position: absolute;
    top: 12px;
}

.menu.active #bar2 {
    opacity: 0;
}

.menu.active #bar3 {
    transform: rotate(-45deg);
    position: absolute;
    top: 12px;
}*/

.asociate{
    text-decoration: none;
    color: white;
    /*border-radius: 25px;*/
}

.close-menu{
    display: none;
    cursor: pointer;
    position: relative;
    margin-right: 120px;
    font-size: 30px;
    color: white;
}

.menu-container.cerrar{
    animation: slideInLeft;
    animation-duration: 1.5s;
}


.menu-icon {
    cursor: pointer;
    transition: transform 0.3s ease;
}

/*------------*/
*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font: calibri;
    --size-pri: 1px;
    --size-sec: 100px; 
    --main-clr: #0ebac5;
    --white: #fff;
}

.btn-asociate {
    background: none;
    margin-right: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 120px;
    min-height: 40px;
    font-family: calibri;
    font-size: 1.2em;
    border-radius: 100px;
    cursor: pointer;
    font-weight: 400;
    position: relative;
    border: 2px solid white;
    color: white;
    background-color : transparent;
    overflow: hidden;
}

    .btn-asociate::before, .btn-asociate::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: -100%;
    left: 0;
    background-color: #fff;
    z-index: -1;
    transition: all 300ms ease-in;
    }

    .btn-asociate:hover {
        color: #295996;
    }
    
    .btn-asociate::before {
        opacity: 0.3;
    }

    .btn-asociate::after {
        transition-delay: 0.2s;
    }

    .btn-asociate:hover::before, .btn-asociate:hover::after {
        top: 0;
    }

.close-btn{
    font-size: 30px;
    color: white;
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 20px;
    left: 200px; 
}

@media (max-width: 480px) {
    nav{
        position: fixed;
        top: 0;
        left: 0;
        right:0 ;
        max-width: 100vw;
        height: 65px;
        overflow-x: hidden;
        flex-wrap: wrap;
    }

}


