
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    font-family: 'Open Sans', sans-serif;
    background-color: #edebe6;
}

header{
    min-height: 100vh;
    background-image: url(/imagenes/imagenes_de_fondo/fondo.jpg);
    background-size: cover;
    background-position: center;
}

h1{
    font-family: "Fira Sans";
    font-weight: 400;
    font-size: 50px;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-top: 200px;
}

.animacion1{
    animation-duration: 1.5s;
}

.h2-convenios{
    font-size: 40px;
    font-weight: 400;
    color: #9c7b43;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h2-convenios::after{
    content: ""; 
    height: 2px;
    width: 15%;
    background-color: #9c7b43; 
    margin-top: 10px;  /* Puedes ajustar el margen para separarlo del texto */
}

.titulo p{
    font-family: "Fira Sans";
    font-weight: 300;
    font-size: 20px;
    color: #fff;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.10);
    text-align: center;
}

.logo{
    width: 150px;
    height: 50px;
}

.convenios{
    background-color: #e0e0e0;
}
/*Estilos primer grid*/

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    padding: 20px;
    justify-items: center; 
    align-items: center;
    background-color: #d1d1d6;
    margin-top: 100px;
}


.textos {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 20px; 
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-left: 250px;
}

.columna-lista {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.columna-parrafos {
    background-color: #295996; 
    color: white; 
    width: 300px;  
    height: 300px; 
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    border-radius: 8px;
    padding: 15px;
    box-sizing: border-box; 
    position: relative;
}

.columna-parrafos::before, .columna-parrafos::after {
    content: ""; 
    position: absolute;
    left: 10px; 
    right: 10px; 
    height: 1px;
    background-color: white; 
}

/* Línea arriba */
.columna-parrafos::before {
    top: 10px; /* Línea blanca a 10px del borde superior */
}

/* Línea abajo */
.columna-parrafos::after {
    bottom: 10px; /* Línea blanca a 10px del borde inferior */
}

.imagenes {
    display: flex; 
    flex-direction: column;
    gap: 20px; 
    justify-content: flex-start; 
    align-items: center; 
    padding: 0;
    margin: 0;
    width: auto;
}


.imagenes img {
    max-width: 100%; 
    height: auto; 
    border-radius: 8px; 
}

/* Estilo para los elementos de la lista */
.textos ul {
    list-style-type: none;
    padding: 0;
    color: #295996;
}

.textos li {
    margin-bottom: 8px; 
    font-size: 20px;
    font-weight: 400;
    color: #575757;
    cursor: pointer;
}

.icono-check{
    font-size: 30px;
    color:#295996;
    vertical-align: middle;
}

/* Estilo de los encabezados */
.cartelera{
    margin-bottom: 15px; 
    font-size: 1.5em;
}

.secciones{
   font-size: 35px;
   color: #295996;
   font-weight: 400;
   padding-bottom: 10px;
}



/*Estilos segunda grid*/

.agrinir {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: auto auto; 
    gap: 5px; 
    justify-items: center; 
    align-items: center; 
    width: 100%; 
    margin: 0 auto; 
    box-sizing: border-box; 
    overflow: hidden;
}

/* Hace que el banner ocupe las dos columnas */
.banner-grande {
    grid-column: span 2;
    display: flex;
    justify-content: center;
    margin-top: 100px; 
}

.banner-blade{
    width: 550px;
    height: auto;
}

.segunda-fila {
    background-image: url(/imagenes/imagenes_de_fondo/jszxwfnp.png); 
    background-position: center;
    padding: 20px 0; 
    display: flex; 
    justify-content: center; 
    align-items: center;
    gap: 10px; 
    width: 100vw; 
    box-sizing: border-box; 
    margin-top: 150px;

}

.segunda-fila li{
    color: #575757;
    font-weight: 400;
    font-size: 20px;
}

.contenido-agrinir {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: auto; 
    max-width: 100%; 
}

.contenido-agrinir img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 5px;
}

.imagen-equipo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    max-width: 50%; 
}


.imagen-equipo img {
    max-width: 100%;
    height: auto;
}


.contenido-agrinir ul{
    list-style: none;
}

.contenido-agrinir li{
    cursor: pointer;
}
.contenido-agrinir .flecha{
    color: red;
    font-size: 20px;
}


/* Estilos para el carrusel */

.carousel-container {
    position: relative;
    width: 100%; 
    max-width: 1000px; 
    overflow: hidden; 
    margin: 0 auto; 
    text-align: center; 
}

.carousel {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden; 
}

.carousel-images {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-item {
    width: 190px; /* Tamaño fijo para cada imagen */
    height: 190px; /* Tamaño fijo para cada imagen */
    padding: 5px; 
    border-radius: 20%;
    box-sizing: border-box; 
    margin-right: 10px;
}

.carousel-btn {
    color: #9c7b43;
    border: none;
    border-radius: 50%;
    padding: 10px;
    font-size: 35px;
    cursor: pointer;
    z-index: 1;
    margin: 10px; 
}

.carousel-btn:hover{
    color:#295996;
}

.carousel-btns {
    display: flex; 
    justify-content: center;
    align-items: center; 
    position: relative; 
    margin-top: 20px; 
}

/*Animaciones*/
.box {
    opacity: 0;
    transform: translateY(100px); 
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.box.visible {
    opacity: 1;
    transform: translateY(0); 
}

/*Estilos del mapa*/

.mapa{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 100px;
    background-color: #d1d1d6;
    min-height: 100vh;
    margin-top: 150px;
}

.localizar-socios{
    font-size: 40px;
    font-weight: 300;
    color:#295996;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.localizar-socios::after{
    content: ""; 
    height: 2px;
    width: 200px;
    background-color:#295996; 
    margin-top: 20px;
}

.estilos-mapa{
    border-radius: 20%;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 400px;
    height: 400px;
}

/*Estilos Footer*/

footer{
    display: flex;
    justify-content: space-between;
    background-color: black;
    padding: 20px;
    height: 120px;
}

.icono-redes, h4{
    color: white;
}

.logo-footer{
    align-items: center;
    text-align: center;
    width: 150px;
    height: auto;
}

footer p{
    font-size: 20px;
    color:#fff;
    margin-left: 8px;
}

.redes-sociales{
    align-items: center;
    text-align: center;
    gap: 10px;
}

.icono-redes{
    padding: 3px 7px;
    margin-right: 10px;
    background-color: #fff;
    color: black;
    border-radius: 50%;
}

h4{
    font-weight: 300;
    padding-bottom: 10px;
}

.redes-sociales{
    padding-top: 10px;
}

/* Responsividad: Pantallas medianas (hasta 768px) */

/* Responsividad: Pantallas medianas (hasta 768px) */
@media (max-width: 768px) {

    header{
        min-height: 80vh;
    }

    .grid-container {
        grid-template-columns: 1fr;
        overflow: hidden; 
    }

    .logo{
        width: 140px;
        height: 40;
    }

    .textos {
        grid-template-columns: 1fr; 
        width: 100%;
        margin: auto;
    }

    h1{
        font-size: 40px;
    }

    .h2-convenios{
        font-size: 35px;
    }

    h3 {
        font-size: 1.2em;
    }

    .columna-parrafos {
        width: 60%;
        height: auto; 
        padding: 10px;
        margin: 0 auto;
    }

    .columna-parrafos p{
        font-size: 15px;
    }

    .columna-parrafos::before {
        top: 2px; /* Línea blanca a 10px del borde superior */
    }
    
    /* Línea abajo */
    .columna-parrafos::after {
        bottom: 2px; /* Línea blanca a 10px del borde inferior */
    }

    .textos li { 
        font-size: 18px;
    }

    .columna-lista {
        justify-content: center;
        text-align: center;
    }

    .secciones{
        font-size: 25px;
        padding-bottom: 10px;
     }
     
     .imagenes {
        padding-top: 30px;
    }

    .titulo p{
        font-weight: 400;
        font-size: 15px;
    }

    .mapa{
        flex-direction: column;
        gap: 30px;
        min-height: 80vh;
    }
    
    .localizar-socios{
        font-size: 30px;
    }
    
    .estilos-mapa{
        border-radius: 0;
        margin-top: 0;
        margin-bottom: 50px;
        width: 100%;
        height: auto;
    }
    
    .localizar-socios{
        font-size: 30px;
    }

    .localizar-socios::after{
        width: 100px;
    }

    footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
    }

}

/* Responsividad: Pantallas medianas (hasta 768px) */
@media (max-width: 480px) {

    header{
        min-height: 100vh;
    }

    .grid-container {
        grid-template-columns: 1fr; 
        overflow: hidden;
    }

     .textos {
       grid-template-columns: 1fr;
       width: 100%;
       margin: auto;
     }

    .textos {
        grid-template-columns: 1fr; 
        gap: 30px;
    }

    h3 {
        font-size: 18px;
        margin-bottom: 0;
    }
    
    h1{
        font-size: 28px;
    }

    .h2-convenios{
        font-size: 30px;
    }

    .columna-parrafos {
        width: 100%;
        height: 250px;
        padding: 10px;
        text-align: center;
    }

    .columna-parrafos p{
        font-size: 15px;
    }

    .columna-parrafos::before {
        top: 3px; /* Línea blanca a 10px del borde superior */
    }
    
    /* Línea abajo */
    .columna-parrafos::after {
        bottom: 3px; /* Línea blanca a 10px del borde inferior */
    }

    .textos li {
        margin-bottom: 8px; 
        font-size: 15px;
        font-weight: 400;
        color: #575757;
        cursor: pointer;
    }

    .columna-lista {
        justify-content: center;
        text-align: center;
    }

    .secciones{
        font-size: 25px;
        padding-bottom: 10px;
     }
     
     .imagenes {
        padding-top: 30px;
    }

    .titulo p{
        font-weight: 400;
        font-size: 13px;
        padding-left: 5px;
        padding-right: 5px;
    }

    .segunda-fila li{
        font-size: 15px;
    }

    .contenido-agrinir img {
        max-width: 280px;
        height: auto;
    }

    .imagen-equipo {
        display: none;
    }

    .open-btn{
        font-size: 25px;
    }

    .logo{
        width: 150px;
        height: 50px;
    }

    .carousel-item {
        padding: 2px; 
        border-radius: 20%;
        margin-right: 3px;
    }

    .mapa{
        flex-direction: column;
        gap: 30px;
        min-height: 80vh;
    }
    
    .localizar-socios{
        font-size: 20px;
        margin-top: 35px;
    }
    
    .estilos-mapa{
        border-radius: 0;
        margin-top: 0;
        margin-bottom: 50px;
        width: 100%;
        height: 250px;
    }
    
    .localizar-socios{
        font-size: 30px;
    }

    .localizar-socios::after{
        width: 100px;
    }

    footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
    }

}



